$main-color: #c00;
$text-color: #333;
$disable-text-color: #cecece;

$table-th-color: #fff;
$table-th-bgcolor: #666;
$table-odd-td-bgcolor: #efefef;

$highlight-color: #ff9;
$soft-highlight-color: #ffc;

@mixin box-shadow($h-offset: 0em, $v-offset: 0em, $blur-offset: .25em, $color: #999) {
  -moz-box-shadow: $h-offset $v-offset $blur-offset $color;
  -webkit-box-shadow: $h-offset $v-offset $blur-offset $color;
  box-shadow: $h-offset $v-offset $blur-offset $color;
}

@mixin rounded-corners($radius) {
  -moz-border-radius: $radius;
  -webkit-border-radius: $radius;
  border-radius: $radius;
}

@mixin transition($time, $property, $function) {
  -moz-transition: $time $property $function;
  -webkit-transition: $time $property $function;
  transition: $time $property $function;
}

@mixin double-transition($time_1, $property_1, $function_1, $time_2, $property_2, $function_2) {
  -moz-transition: $time_1 $property_1 $function_1, $time_2 $property_2 $function_2;
  -webkit-transition: $time_1 $property_1 $function_1, $time_2 $property_2 $function_2;
  transition: $time_1 $property_1 $function_1, $time_2 $property_2 $function_2;
}