@import "mixins";

* {
  margin: 0px;
  padding: 0px;
}

body {
  background-color: #f6f6f6;
  color: $text-color;
  font: 14px/18px "Lucida Grande", Geneva, Arial, Verdana, sans-serif;
}

div.actions {
  margin: 1em 0em;
}

div.actions, #search {
  input[type="submit"] {
    padding: .1em 1em;
    display: inline-block;
    background: rgba(185,185,185,1);
    background: -moz-linear-gradient(top,rgba(255,255,255,1),rgba(185,185,185,1));
    background: -webkit-gradient(linear,0% 0%,0% 100%,from(rgba(255,255,255,1)),to(rgba(185,185,185,1)));
    padding: .25em 1em;
    text-shadow: 1px 1px 1px rgba(255,255,255,0.5);
    border: 1px solid rgba(0,0,0,0.4);
    @include rounded-corners(.25em);
    @include box-shadow(0px, 0px, .1em, rgba(0,0,0,0.5));

    &:hover:not(:disabled) {
      border: 1px solid $main-color;
      text-shadow: 0px 0px 2px #999;
    }

    &:active, &:focus {
      background: rgba(255,255,255,1);
      background: -moz-linear-gradient(top,rgba(185,185,185,1),rgba(255,255,255,1));
      background: -webkit-gradient(linear,0% 0%,0% 100%,from(rgba(185,185,185,1)),to(rgba(255,255,255,1)));
    }

    &:disabled {
      color: rgba(0,0,0,0.4);
      text-shadow: 1px 1px 0px rgba(255,255,255,0.5);
      background: rgba(220,220,220,1);
    }
  }
}

div.field {
  margin: .5em 0em;
  
  label {
    display: block;
  }

  input[type="checkbox"] + label {
    display: inline;
  }

  textarea {
    height: 5em;
  }

  input[type="email"], input[type="number"], input[type="password"],
  input[type="text"], input[type="url"], textarea, select {
    width: 30em;
  }
}

hr {
  margin: 2em 0em 1em 0em;
  height: 2px;
  border: none;
  background: #999;
  background-image: -webkit-gradient(linear, left top, right top, color-stop(0, #fff), color-stop(0.5, $main-color), color-stop(1, #fff));
  background-image: -moz-linear-gradient(left center, #fff 0%, $main-color 50%, #fff 100%);
}

input, textarea, select {
  font-family: inherit;
}

nav.links {
  margin-top: 1em;
  
  .pagination {
    float: right;
    margin: 0em;

    a {
      color: $text-color;
      padding: 1px 2px;
      text-decoration: none;
      border: 2px solid $disable-text-color;
      @include transition(.25s, border, ease-in);

      &:hover {
        color: $main-color;
        background: $table-odd-td-bgcolor;
        border: 2px solid $main-color;
        @include transition(.25s, border, ease-out);
      }
    }

    a, span {
      margin: 0em .1em;
      @include rounded-corners(.25em);
    }

    .current {
      font-style: normal;
      background: #333;
      color: #fff;
      padding: 1px 2px;
      text-shadow: 0px 0px .1em #fff;
      border: 2px solid #333;
      @include rounded-corners(.25em);
    }

    .disabled {
      color: $disable-text-color;
      padding: 1px 2px;
      border: 2px solid $disable-text-color;
      @include rounded-corners(.25em);
    }
  }
}

section.show_item {
  header {
    margin-bottom: 1em;

    h1 + * {
      margin-top: .5em;
    }
  }
}

table.list {
  width: 100%;
  border: 2px solid $table-th-bgcolor;
  border-collapse: collapse;
  
  caption {
    font-size: 1.5em;
    font-weight: bold;
    text-align: left;
    margin-bottom: .5em;
  }

  td {
    padding: .25em .5em;
  }

  th {
    text-align: left;
    padding: .5em;
    color: $table-th-color;
    background-color: $table-th-bgcolor;
    
    a {
      color: $table-th-color;
      text-decoration: none;
      padding: 2px 0px;
      border-bottom: 1px solid $table-th-color;
      
      &:hover {
        color: $main-color;
        border-color: $main-color;
      }

      &.current.asc {
        border-bottom: 1px solid $main-color;
      }

      &.current.desc {
        border-bottom: none;
        border-top: 1px solid $main-color;
      }
    }
  }

  tbody {
    tr:nth-child(odd) {
      background: $table-odd-td-bgcolor;
    }

    tr {
      @include transition(.15s, background, ease-in);

      &:hover {
        background: darken($table-odd-td-bgcolor, 20%);
        @include transition(.15s, background, ease-out);
      }
    }
  }
}

table.summary {
  width: 100%;
  border: 2px solid $table-th-bgcolor;
  border-collapse: collapse;
  margin: 1em 0em;

  caption {
    font-size: 1.25em;
    font-weight: bold;
    text-align: left;
    margin-bottom: .5em;
  }
  
  td {
    padding: .25em .5em;
    vertical-align: top;
  }

  th {
    text-align: left;
    padding: .25em .5em;
    color: $table-th-color;
    background-color: $table-th-bgcolor;
  }
}

#alert {
  background: #a00;
  color: #fff;
}

#alert, #notice {
  position: fixed;
  bottom: 0px;
  left: 0px;
  right: 0px;
  font-weight: bold;
  font-size: 1.4em;
  text-align: center;
  padding: .75em 1em;
  opacity: .8;
  
  .close {
    position: absolute;
    top: .5em;
    right: 1em;
    font-size: .6em;
    font-weight: normal;
    border: 2px solid #dfdfdf;
    @include rounded-corners(.5em);
    
    a {
      background: inherit;
      color: #dfdfdf;
      text-decoration: none;
      font-size: 1.2em;
      font-weight: bold;
      padding: 1px 5px;
    }
  }
}

#content {
  width: 90%;
  min-width: 700px;
  margin: 3em auto;
  padding: 1em;
  background-color: #fff;
  border: 2px solid #ccc;
  @include rounded-corners(.25em);
}

#error_explanation {
  width: 100%;
  margin-bottom: 1.5em;
  background-color: #efefef;
  border: 2px solid $main-color;
  @include rounded-corners(.5em);

  h2 {
    margin: 0em !important;
    padding: .5em 1em !important;
    font-size: 1em !important;
    background-color: $main-color !important;
    color: #fff !important;
  }

  ul {
    margin: 1em 1em 1em 3em !important;
    
    li {
      list-style: square !important;
    }
  }
}

#loading_caption {
  background-color: $main-color;
  color: #fff;
  font-weight: bold;
  font-size: 1.1em;
  text-align: center;
  position: fixed;
  bottom: 0%;
  left: 50%;
  width: 10em;
  letter-spacing: 2px;
  margin: 0em 0em 0em -4em;
  padding: .25em 1em;
  z-index: 1;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, .3);
  @include rounded-corners(.5em .5em 0em 0em);
}

#menu {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  background: #333;
  padding: .25em 1em;
  border-bottom: 4px solid $main-color;

  ul {
    li {
      display: inline;
      list-style: none;
      margin-right: 1em;
      
      a {
        color: #efefef;
        
        &:hover {
          color: #c00;
        }
      }
    }
  }
}

#notice {
  background: #151215;
  color: #fff;
}

#search {
  margin: .5em 0em;

  input {
    width: 100%;
    margin: 0px;
    font-size: 1.1em;
    padding: .2em;
    text-shadow: 0px 1px 0px #fff;
    outline: none;
    background: -webkit-gradient(linear, left top, left bottom, from(#efefef), to(#fff));
    background: -moz-linear-gradient(top,  #efefef,  #fff);
    border: 1px solid #999;
    @include rounded-corners(3px);
    @include box-shadow(1px, 1px, 0px, #efefef);

    &:focus {
      border: 1px solid $main-color;
      @include box-shadow(0px, 0px, 2px, $main-color);
    }
  }

  input[type="submit"] {
    margin: 0px;
  }

  table {
    width: 100%;
    border: none;
    padding: 0px;
    margin: 0px;

    td:nth-child(1) {
      width: 99%;
    }

    td:nth-child(2), td:nth-child(3) {
      padding-left: 1em;
    }
  }
}