@import "mixins";

#hints {
  #content {
    br {
      clear: both;
    }

    code {
      background: #eee;
      padding: .1em .25em;
      font-family: Monaco, "Courier New", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", monospace;
      font-size: 1.1em;
      @include rounded-corners(.25em);
    }
    
    del.differ {
      text-decoration: none;
      background: #faa;
    }

    figure {
      margin: .5em 3em;
      overflow: auto;

      figcaption {
        margin: .5em 0em;
        font-style: italic;
      }
      
      img {
        float: left;
        border: 2px solid lighten($text-color, 40%);
        @include box-shadow(.25em, .25em, .5em, #999);

        &.super_border {
          border: 4px solid $main-color;
        }

        &.clear_border {
          border: none;
        }
      }
    }

    figure.inline {
      float: left;
      margin: .5em 1em .5em 3em;
    }

    figure.inline_right {
      float: right;
      margin: .5em 3em .5em 1em;
    }

    footer {
      display: block;
      clear: both;
      padding: .5em 1em;
      background: #e8e8e8;
      margin: 1em -1em -1em -1em;

      p {
        font-size: .8em;
        margin: 0em;

        em {
          font-weight: bold;
          font-style: normal;
          color: $main-color;
          opacity: .8;
        }
      }

      textarea {
        width: 100%;
        height: 4em;
      }
    }

    h1, h2, h3 {
      font-weight: bold;
    }

    h1 {
      font-size: 1.5em;
      margin-bottom: 1em;
    }

    h2 {
      font-size: 1.25em;
      margin: 1em 1em;
    }

    h3 {
      font-size: 1.1em;
      margin: .5em 2em;
    }

    header {
      h1 {
        font-size: 1.5em;
      }

      ul {
        li {
          display: inline;
          font-size: .8em;
          margin-right: .25em;
          padding: .2em .5em;
          font-weight: bold;
          background-color: $main-color;
          color: #fff;
          border: 1px solid $text-color;
          text-shadow: 1px 1px 1px rgba(0, 0, 0, .3);
          box-shadow: 0 2px 2px -1px rgba(0, 0, 0, .4), 0 .9em .5em -0.2em rgba(255, 255, 255, .2) inset;
          @include rounded-corners(.5em);
        }
      }
    }
    
    ins.differ {
      text-decoration: none;
      background: #afa;
    }

    p, ul, ol {
      margin: .5em 3em;
    }

    pre, div.example {
      margin: .5em 3em;
      padding: .5em;
      overflow: auto;
      border: 1px dotted $text-color;
    }
    
    table.summary {
      textarea {
        height: 5em;
        width: 100%;
      }
    }
    
    ul, ol {
      ul, ol {
        margin: 0em 0em 0em 1.5em;
      }
    }

    ul.tagit {
      margin: .5em 0em;
    }

    #hint_content {
      height: 20em;
    }

    #hint_header {
      font-size: 1.5em;
      font-weight: bold;
    }

    #hint_header, #hint_content {
      width: 100%;
    }

    .action {
      color: #fff;
      background: #47ade0;
      padding: .1em .5em;
      line-height: 1.5em;
      font-weight: bold;
      text-shadow: .1em 1em 1em rgba(0, 0, 0, .3);
      box-shadow: 0 2px 2px -1px rgba(0, 0, 0, .4), 0 .9em .5em -0.2em rgba(255, 255, 255, .2) inset;
      @include rounded-corners(.25em);
    }
    
    .highlight {
      padding: .1em .25em;
      background: #ff9;
      @include rounded-corners(.5em);
    }

    .warning {
      color: #c00;
      font-weight: bold;
      text-shadow: .1em .1em .1em rgba(0, 0, 0, .3);
    }
  }
}

#hints[data-action="index"], #hints[data-action="show"] {
  #content {
    background: #f6f6f6;
    border: none;
    
    nav.links {
      clear: both;
      padding-top: .5em;
      border-top: 2px solid #ccc;
    }

    .content {
      float: right;
      width: 75%;
      padding: 1em;
      background: #fff;
      border: 2px solid #ccc;
      @include rounded-corners(.5em);
      @include box-shadow(0em, 0em, .5em, #999);

      a {
        color: #14629e;
        text-decoration: none;
        padding-bottom: .1em;
        border-bottom: 1px solid #14629e;

        &:visited {
          color: #2490e3;
          border-bottom: 1px solid #2490e3;
        }
         
        &:hover, &:focus {
          color: #6fb6ed;
          border-bottom: 1px solid #6fb6ed;
        }
      }

      h2 {
        font-size: 1.25em;
        margin: 0em;
        text-align: center;
      }

      ul {
        font-size: 1.25em;
        line-height: 1.5em;
        list-style: square;
      }
    }

    .sidebar {
      float: left;
      width: 20%;
      padding-bottom: 1em;

      a {
        text-decoration: none;
        padding-bottom: .1em;
        color: $text-color;
        border-bottom: 1px dotted $text-color;

        &:hover {
          color: $main-color;
          border-bottom: 1px dotted $main-color;
        }
      }

      h1 {
        font-size: 1.5em;
        line-height: 1.5em;
        margin: 0em 0em 1em 0em;

        a {
          font-weight: normal;
          letter-spacing: -.1em;
        }
      }

      ul {
        list-style: none;
        margin: 0em 1em;
        line-height: 1.5em;

        li {
          font-weight: bold;
          color: lighten($text-color, 20%);

          span {
            font-size: .8em;
            font-weight: normal;
            margin-left: .5em;
          }
        }
      }
    }
  }
}