@import "mixins";

#hints {
  #content {
    br {
      clear: both;
    }

    code {
      background: #eee;
      padding: .1em .25em;
      font-family: Monaco, "Courier New", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", monospace;
      font-size: 1.1em;
      @include rounded-corners(.25em);
    }
    
    del.differ {
      text-decoration: none;
      background: #faa;
    }

    figure {
      margin: .5em 3em;

      figcaption {
        margin: .5em 0em;
        font-style: italic;
      }
      
      img {
        float: left;
        border: 2px solid lighten($text-color, 40%);
        @include box-shadow(.25em, .25em, .5em, #999);

        &.super_border {
          border: 4px solid $main-color;
        }

        &.clear_border {
          border: none;
        }
      }
    }

    figure.inline {
      float: left;
      margin: .5em 1em .5em 3em;
    }

    footer {
      display: block;
      clear: both;
      padding: .5em 1em;
      background: #e8e8e8;
      margin: 1em -1em -1em -1em;

      p {
        font-size: .8em;
        margin: 0em;

        em {
          font-weight: bold;
          font-style: normal;
          color: $main-color;
          opacity: .8;
        }
      }

      textarea {
        width: 100%;
        height: 4em;
      }
    }

    h1, h2, h3 {
      font-weight: bold;
    }

    h1 {
      font-size: 1.5em;
      margin-bottom: 1em 0em;
    }

    h2 {
      font-size: 1.25em;
      margin: 1em 1em;
    }

    h3 {
      font-size: 1.1em;
      margin: .5em 2em;
    }

    header {
      h1 {
        font-size: 1.5em;
      }

      ul {
        li {
          display: inline;
          font-size: .8em;
          margin-right: .25em;
          padding: .2em .5em;
          font-weight: bold;
          background-color: $main-color;
          color: #fff;
          border: 1px solid $text-color;
          text-shadow: 1px 1px 1px rgba(0, 0, 0, .3);
          box-shadow: 0 2px 2px -1px rgba(0, 0, 0, .4), 0 .9em .5em -0.2em rgba(255, 255, 255, .2) inset;
          @include rounded-corners(.5em);
        }
      }
    }
    
    ins.differ {
      text-decoration: none;
      background: #afa;
    }

    p, ul, ol {
      margin: .5em 3em;
    }

    pre, div.example {
      margin: .5em 3em;
      padding: .5em;
      border: 1px dotted $text-color;
    }
    
    table.summary {
      textarea {
        height: 5em;
        width: 100%;
      }
    }
    
    ul, ol {
      ul, ol {
        margin: 0em 0em 0em 1.5em;
      }
    }

    ul.tagit {
      margin: .5em 0em;
    }

    .action {
      color: #fff;
      background: #47ade0;
      padding: .1em .5em;
      line-height: 1.5em;
      font-weight: bold;
      text-shadow: .1em 1em 1em rgba(0, 0, 0, .3);
      box-shadow: 0 2px 2px -1px rgba(0, 0, 0, .4), 0 .9em .5em -0.2em rgba(255, 255, 255, .2) inset;
      @include rounded-corners(.25em);
    }

    .highlight {
      padding: .1em .25em;
      background: #ff9;
      @include rounded-corners(.5em);
    }

    .warning {
      color: #c00;
      font-weight: bold;
      text-shadow: .1em .1em .1em rgba(0, 0, 0, .3);
    }
  }
}