@import "mixins";

#hints {
  br {
    clear: both;
  }
  
  figure {
    margin: .5em 0em;

    img {
      float: left;
      border: 2px solid lighten($text-color, 40%);
    }
  }

  h1, h2, h3 {
    font-weight: bold;
  }

  h1 {
    font-size: 1.5em;
  }

  h2 {
    font-size: 1.25em;
  }

  h3 {
    font-size: 1.1em;
  }

  header {
    h1 {
      font-size: 1.5em;
    }
    
    ul {
      li {
        display: inline;
        font-size: .8em;
        margin-right: .25em;
        padding: .2em .5em;
        font-weight: bold;
        background-color: $main-color;
        color: #fff;
        border: 1px solid $text-color;
        text-shadow: 1px 1px 1px rgba(0, 0, 0, .3);
        box-shadow: 0 2px 2px -1px rgba(0, 0, 0, .4), 0 .9em .5em -0.2em rgba(255, 255, 255, .2) inset;
        @include rounded-corners(.5em);
      }
    }
  }

  ul.tagit {
    margin: .5em 0em;
  }
}